@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poiret+One&family=Public+Sans:wght@100;300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-family: 'Lora', serif; */
  font-family: "Poiret One", cursive;
  /* font-family: 'Public Sans', sans-serif; */
}

:root {
  --color-primary: #edaf88;
  --color-secondary: #27ae60;
  --color-pink: rgba(138, 12, 33, 0.727);
  --color-white: rgb(255, 255, 255);
  --color-black: black;
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --color-yellow: rgba(201, 235, 9, 0.799);
}

body {
  /* background-color: pink; */
  /* color: white; */
  transition: all 1s ease-in-out;
  
  z-index: 1;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

header {
  height: 100%;
  color: white;
  /* background-color: #27ae60; */
  overflow: hidden;
}

.aside {
  /* border: 2px solid red; */
  z-index: 15;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  
  /* background-color: yellow; */
}
@keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scale(1);
    }
  
    100% {
      transform: translateY(0%) scale(1);
    }
  }
.aside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: top right;
    transform: skewY(-35deg);
    z-index: -1;
  }

.aside .logo {
  font-size: 50px;
  text-transform: capitalize;
  
}
.aside .logo a {
  color: var(--color-pink);
  font-weight: 700;
  padding: 5px 10px;
  font-size: 50px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  /* font-family: "Clicker Script", cursive; */
  font-size: 40px;
  color: var(--color-black);
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  border-bottom: 3px solid var(--color-secondary);
  border-left: 3px solid var(--color-secondary);
  border-bottom-left-radius: 2px;
  bottom: 0;
  left: 0;
  
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  border-top: 3px solid var(--color-pink);
  border-right: 3px solid var(--color-pink);
  border-top-right-radius: 2px;
  top: 0;
  right: 0;
}
.follow {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-icons {
  flex-direction: column;
  justify-content: center;
}
.follow i {
  font-size: 2rem;
  margin: 20px;
}

.profile img {
  width: 100px;
  border-radius: 50%;
}

.cv-download a{
  color: green;
  margin-top: 10px;
}

.work-done {
  border-radius: 20px;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  animation: scaleAnim 1.5s ease-in-out;
}
.item {
  height: 200px;
  width: 300px;
  box-shadow: 0px 0px 10px 2px rgba(239, 234, 234, 0.911);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.item img {
  width: 100px;
}
.item h3 {
  /* color: var(--color-primary); */
  color: rgb(71, 65, 65);
  font-weight: 900;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.item a {
  color: var(--color-secondary);
  font-weight: 800;
  font-size: 14px;
  padding: 3px 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 2px;
}
.item a:hover{
  background-color: var(--color-pink);
  border: 1px solid var(--color-pink);
  color: var(--color-white);
  border: none;
}

.title {
  /* height: 50px; */
  /* background-color: red; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h2{
  color: #27ae60;
  font-weight: bolder;
  padding: 5px;
}
.title h2{
  content: "";
  display: block;
  border-bottom: 2px solid #27ae60;
  margin-bottom: 10px;
}

.title p {
  text-align: justify;
  font-size: 1em;
  margin: 2rem 10%;
}

.contact-form {
  /* border: 2px solid red; */
  min-height: 80vh;
  /* background-color: rgb(108, 217, 223); */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  color: var(--color-white);
}
.form-container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.contact-form label {
  font-size: 16px;
  color: var(--color-white);
}
form input,
button {
  width: 280px;
  height: 30px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid rgba(128, 128, 128, 0.403);
  border-radius: 5px;
}
form textarea {
  width: 280px;
  overflow: hidden;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid rgba(128, 128, 128, 0.403);
  border-radius: 5px;
  resize: none;
}

form input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.btn {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--color-pink);
  cursor: pointer;
}


.services {
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.service-type{
  position: relative;
  height: 150px;
  width: 300px;
  /* box-shadow: 0px 0px 10px 2px rgba(208, 210, 206, 0.79); */
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  background-color: var(--color-primary);
  opacity: 0;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
#ai{
  background-color: rgba(39, 38, 40, 0.725);
  animation-name: slide-in-left;
}
#ai::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url(../static/ai.png);
  border-top: 5px solid rgba(39, 38, 40, 0.725);
  background-position: center;
  background-size: contain;
  z-index: 10;
}

#design{
  background-color: var(--color-yellow);
  animation-name: slide-in-right;
}

#design::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url(../static/design.png);
  border-top: 5px solid var(--color-yellow);
  background-position: center;
  background-size: contain;
  z-index: 10;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(0%);
    opacity: 1;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.service-type img{
  width: 100px;
}
.service-type h3{
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bolder;
}

@media only screen and (max-width: 550px) {
  .aside {
    min-height: 600px;
  }
  .contact-form {
    min-height: 1000px;
  }
  .work-done {
    min-height: 1800px;
  }
  .form-container {
    flex-direction: column;
    
  }
  .services {
    height: 600px;
    /* border: 2px solid red; */
  }
  .aside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:700px;
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transform: skewY(35deg);
    animation: slideDown 1s forwards;
    z-index: -1;
  }
  @keyframes slideDown {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }

}
